[submodule ".registry"]
	path = .registry
	url = https://github.com/nghiaagent/nghiaagent.r-universe.dev
	branch = HEAD
[submodule "nghiaagentrutils"]
	path = nghiaagentrutils
	url = https://github.com/nghiaagent/nghiaagentrutils
